@{
    ViewBag.Title = "Create";
}

<div class="action-form">
    <h2>Create Product</h2>
    <form id="createProduct">
        <div class="form-group">
            <label>Name</label>
            <input name="Name" />
            <br />
            
            <label>Description</label>
            <input name="Description" />
            <br />

            <label>Category</label>
            <input name="Category"/>
            <br />
        
            <label>Price</label>
            <input name="Price"/>
            <br />

            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

