@using ClothBazar.Services
@model List<Category>
@{
    ViewBag.Title = "Create";
}

<div class="action-form">
    <h2>Create Product</h2>
    <form id="createProduct">
        <div class="form-group">

            <label>Name</label>
            <input class="form-control" name="Name"/>
            <br/>

            <label>Description</label>
            <input class="form-control" name="Description"/>
            <br/>

            <label>Category</label>
            <select name="CategoryID">
                @foreach(var categories in Model)
                { 
                    <option value="@categories.ID">@categories.Name</option>
                }
            </select>
            <br/>

            <label>Price</label>
            <input class="form-control" name="Price"/>
            <br/>

            <label>Image</label>
            <input type="hidden" id="ImageURL" name="ImageURL"/>
            <input class="form-control" id="imageUpload" name="Image" type="file" accept=".jpg, .jpeg, .png"/>
            <br/>

            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage"/>
            </div>

            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

@section scripts
{
    <script>
        @*jQuery(document).ready(function() {
            jQuery("#imageUpload").change(function () {
                alert("change");
                var element = this;

                var formData = new FormData();

                var totalFiles = element.files.length;

                for (var i = 0; i < totalFiles; i++) {
                    var file = element.files[i];
                    formData.append("Photo", file);
                }
                
                jQuery.ajax({
                        type: 'POST',
                        url: '@Url.Action("UploadImage", "Shared")',
                        dataType: 'json',
                        data: formData,
                        contentType: false,
                        processData: false
                    })
                    .done(function(response) {
                        console.log(response);

                        if (response.Success) {
                            jQuery("#ImageURL").val(response.ImageURL);
                            jQuery("#productImage").attr("src", response.ImageURL);
                        }
                    })
                    .fail(function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("FAIL");
                    });
            });

        });*@

    </script>
}