
@{
    ViewBag.Title = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Products
                    </h2>
                </div>
            </div>
        </div>

        <div id="ProductContainer">
            <form id="searchForm" method="POST">
                <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Search</label>
                        <input class="form-control" id="searchTxt" name="search" />
                    </div>
                </div>

                <div class="col-md-4">
                <div class="form-group">
                <label>Action</label>
                <div class="row">
                <div class="col-md-4 pr-0">
                    <button class="btn btn-primary" type="button" id="searchBtn">Search</button>
                </div>
            
                <div class="col-md-4 pr-0">
                    <button type="button" class="btn btn-primary create-new-btn">New</button>
                </div>
                </div>
                </div>
                </div>
                </div>
            </form>
            <div id="productContainer" class="ProductTable">
            @{
                Html.RenderAction("ProductTable");
            }
            </div>
            
            <hr/>
            <div id="actionContainer" style="display: none">
            @{
                Html.RenderAction("Create");
            }
            </div>
            
            <hr/>
            <div id="editContainer">
                @{
                }
            </div>
        </div>
    </div>

</section>

@section scripts
{
        <script>
           

            jQuery(document).ready(function () {


                jQuery('.create-new-btn').on('click',
                    function (e) {
                        e.preventDefault();
                        jQuery('#actionContainer').toggle();
                        focusAction("actionContainer");
                    });

                jQuery("#searchForm").on('keypress',
                    '#searchTxt',
                    function (e) {
                        // e.preventDefault();
                        var searchValue = jQuery("#searchTxt").val();
                        jQuery.ajax({
                            url: '/Product/ProductTable',
                            method: 'POST',
                            data: {
                                search: searchValue
                            },
                            beforeSend: function (xhr) { },
                            success: function (response, statusText, xhr) {
                                // console.log(xhr, response, statusText);
                                jQuery(".ProductTable").html(response);
                            },
                            complete: function (xhr, response, statusText) { },
                            error: function (xhr, errors) { }
                        });
                    });

                jQuery(document).ready(function () {
                    jQuery("#searchForm").on('click',
                        '#searchBtn',
                        function (e) {
                            e.preventDefault();
                            var searchValue = jQuery("#searchTxt").val();
                            jQuery.ajax({
                                url: '/Product/ProductTable',
                                method: 'POST',
                                data: {
                                    search: searchValue
                                },
                                beforeSend: function (xhr) { },
                                success: function (response, statusText, xhr) {
                                    // console.log(xhr, response, statusText);
                                    jQuery(".ProductTable").html(response);
                                },
                                complete: function (xhr, response, statusText) { },
                                error: function (xhr, errors) { }
                            });
                        });
                });


                jQuery("#saveBtn").click(function (e) {
                    if (jQuery("#createCategory").valid != false) {
                    jQuery.ajax({
                        type: 'POST',
                        url: '/Product/Create',
                        data: jQuery("#createProduct").serialize()
                    })
                        .done(function (response) {
                            jQuery(".ProductTable").html(response);
                            focusAction("ProductTable");

                        })
                        .fail(function () {
                            alert("Fail");
                        });
                    }
                    else {
                        alert("Invalid");
                    }
                });

            });

            jQuery(document).ready(function () {
                jQuery("#imageUpload").change(function () {
                    alert("change");
                    var element = this;

                    var formData = new FormData();

                    var totalFiles = element.files.length;

                    for (var i = 0; i < totalFiles; i++) {
                        var file = element.files[i];
                        formData.append("Photo", file);
                    }

                    jQuery.ajax({
                        type: 'POST',
                        url: '@Url.Action("UploadImage", "Shared")',
                        dataType: 'json',
                        data: formData,
                        contentType: false,
                        processData: false
                    })
                        .done(function (response) {
                            console.log(response);

                            if (response.Success) {
                                jQuery("#ImageURL").val(response.ImageURL);
                                jQuery("#productImage").attr("src", response.ImageURL);
                            }
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("FAIL");
                        });
                });

            });

          

          
            // Focus Action
            function focusAction(controlToFocus) {
                $('html, body').animate({
                    scrollTop: $("#" + controlToFocus).offset().top - 100
                }, 1000);
            }
        </script>
    }


