@model List<ClothBazar.Entities.Category>
@{
    ViewBag.Title = "Index";
}
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Categories
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchTxt" name="Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">

                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="searchBtn">Search</button>
                        </div>

                        <div class="col-md-4 pr-0">
                            <button type="button" class="btn btn-primary form-control create-new-btn">New</button>
                        </div>

                    </div>
            </div>
        </div>

            
        </div>

        <div class="tableContainer">
            @{
                Html.RenderAction("CategoryTable");
            }
        </div>

        <div id="createContainer" class="createContainer" style="display: none">
            @{
                Html.RenderAction("Create");
            }
        </div>

        <div id="editContainer" class="editContainer">
            @*@{
                    Html.RenderAction("Edit");
                }*@
        </div>
    </div>
</section>

@section scripts
{
        <script>

            jQuery(document).ready(function () {
                jQuery(".create-new-btn").on("click",
                    function (e) {
                        e.preventDefault();
                        jQuery("#createContainer").toggle();
                        focusAction("createContainer");
                    });
            });
            

            //Edit Button
            jQuery(document).ready(function () {
                jQuery('.edit-new-btn').on('click',
                    function (e) {
                        e.preventDefault();
                        jQuery.ajax({
                            url: '/Category/Edit',
                            data: {
                                ID: jQuery(this).attr('data-id')
                            },
                            beforeSend: function (xhr) { },
                            success: function (response, statusText, xhr) {
                                // console.log(xhr, response, statusText);
                                jQuery("#editContainer").html(response);
                                focusAction("editContainer");
                            },
                            complete: function (xhr, response, statusText) { },
                            error: function (xhr, errors) { }
                        });


                    });
            });

            //search
            jQuery(document).ready(function () {
                jQuery("#searchBtn").click(function () {
                    var searchValue = jQuery("#searchTxt").val();

                    jQuery.ajax({
                        type: 'POST',
                        url: '@Url.Action("CategoryTable", "Category")',//'/Category/CategoryTable',
                        data: {
                            search: searchValue
                        }
                    })
                        .done(function (response) {
                            jQuery(".tableContainer").html(response);
                            focusAction("tableContainer");
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("FAIL");
                        });
                });

            });

            //focus
            function focusAction(controlToFocus) {
                jQuery('html, body').animate({
                    scrollTop: jQuery("#" + controlToFocus).offset().top - 100
                }, 1000);
            }
        </script>
    }
