
@{
    ViewBag.Title = "Create";
}

<h2>Create Configuration</h2>
<div>
    <form id="configForm">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Key</label>
                    <input type="text" name="Key" class="key" placeholder="Enter Name" />
                </div>
                <div class="form-group">
                    <label>Value <span class="text-danger">*</span></label>
                    <input type="text" name="Value" class="form-control" placeholder="Enter Link Or Some Text" required/>
                </div>

                <button type="button" id="SaveBtn" class="btn btn-primary save-btn">Save</button>
                <button type="button" id="cancelbtn" class="btn btn-primary cancel-btn">Cancel</button>
            </div>
        </div>
    </form>

</div>

<script>
    // Validate
    jQuery('#configForm').validate({
        rules: {
            Value: {
                required: true
            }
        },
        messages: {
            Value: {
                required: "Value Is Required"
            }
        }
    });
    // Save Button
    jQuery(document).ready(function () {
        jQuery(".save-btn").on("click",
            function () {
                if (jQuery("#createCategory").valid != false) {
                jQuery.ajax({
                        type: 'POST',
                        url: '/Configuration/Create',
                        data: jQuery("#configForm").serialize()
                    })
                    .done(function (response) {
                        jQuery(".configTable").html(response);
                        focusAction("ConfigTable");
                    })
                    .fail(function () {
                        alert("Fail");
                    });
                }
                else {
                    alert("Invalid");
                }
            });
    });

    // Cancel Button
    jQuery(".cancel-btn").on("click",
        function () {
            jQuery(".newContainer").html("");
            focusAction("ConfigTable");
        });
</script>